<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliyun.ams.mac.demo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".DemoActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <service
                android:name="anetwork.channel.aidl.NetworkService"
                android:exported="false">
            <intent-filter>
                <action android:name="anetwork.channel.aidl.IRemoteNetworkGetter" />
            </intent-filter>
        </service>
        <activity android:name=".AboutActivity"
                  android:screenOrientation="portrait"
                  android:label="关于我们"/>
        <activity android:name=".HelperActivity"
                  android:screenOrientation="portrait"
                  android:label="帮助中心"/>
    </application>

</manifest>