<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.sdk.android.oss.app" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- OSS Endpoint，如 http://oss-cn-hangzhou.aliyun.com -->
        <meta-data android:name="com.alibaba.app.oss_endpoint" android:value="*******"></meta-data>

        <!-- Bucket名称 -->
        <meta-data android:name="com.alibaba.app.oss_bucketname" android:value="*******"></meta-data>

        <!-- AccessKeyId，实际应用时不建议明文写在客户端 -->
        <meta-data android:name="com.alibaba.app.oss_ak" android:value="*******"></meta-data>

        <!-- AccesskeySecret, 实际应用时不建议明文写在客户端 -->
        <meta-data android:name="com.alibaba.app.oss_sk" android:value="************"></meta-data>

        <!-- 一个存在于客户端本地的文件，用于演示上传到oss -->
        <meta-data android:name="com.alibaba.app.oss_filepath" android:value="*******"></meta-data>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
