<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alibaba.cloudpushdemo">

    <!-- Application Settings -->
    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        tools:overrideLibrary="com.huawei.android.hms.push"
        tools:replace="android:allowBackup">
        <activity
            android:name=".bizactivity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 请填写你自己的- appKey EMASDemo空间 23793506 -->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="XXXXX" />
        <!-- 请填写你自己的appSecret -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="XXXXX" />
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=XXXXX" />
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="XXXXX" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="XXXXX" />

        <!-- 消息接收监听器 （用户可自主扩展） -->
        <receiver
            android:name=".component.MyMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".component.MyMessageIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".FCM.AgooFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- User Custom Activity -->
        <activity
            android:name=".bizactivity.AboutActivity"
            android:label="@string/title_activity_about_us" />
        <activity
            android:name=".bizactivity.HelperActivity"
            android:label="@string/title_activity_helper_page" />
        <activity
            android:name=".bizactivity.DeviceActivity"
            android:label="@string/title_activity_device_id" />
        <activity
            android:name=".bizactivity.SettingNoticeActivity"
            android:label="@string/title_activity_settings_notice" />
        <activity
            android:name=".bizactivity.ThirdPushPopupActivity"
            android:exported="true"
            android:label="@string/title_activity_third_push_notice">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:path="/thirdpush"
                    android:scheme="agoo" />
            </intent-filter>
            <!-- scheme 配置结束  -->
        </activity>
    </application>

</manifest>