<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alibaba.push.android.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Application Settings -->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <!-- 请填写你自己的- appKey EMASDemo空间 23793506 -->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="334974253" />
        <!-- 请填写你自己的appSecret -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="0d8edc3298da4864a64f6f89f08f00be" />
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=XXXXX" />
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="XXXXX" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="XXXXX" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AllLabelActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name=".AddTagActivity"
            android:theme="@style/TransparentStyle"
            android:screenOrientation="portrait"
            android:exported="false" />

        <receiver
            android:name=".MyMessageReceiver"
            android:process="@string/aliyun_accs_target_process"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyMessageIntentService"
            android:process="@string/aliyun_accs_target_process"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </service>

    </application>

</manifest>