<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.sophix.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.alibaba.sophix.demo.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.taobao.android.hotfix.IDSECRET"
            android:value="Yours" />
        <meta-data
            android:name="com.taobao.android.hotfix.APPSECRET"
            android:value="Yours" />
        <meta-data
            android:name="com.taobao.android.hotfix.RSASECRET"
            android:value="Yours" />

        <activity
            android:name="com.alibaba.sophix.demo.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alibaba.sophix.demo.ResTestActivity" />
        <activity android:name="com.alibaba.sophix.demo.AboutActivity"
                  android:label="关于我们"/>
        <activity android:name="com.alibaba.sophix.demo.HelperActivity"
                  android:label="帮助中心"/>
    </application>

</manifest>